/* ===== GOOGLE FONTS ===== */
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

:root {
  --header-height: 3rem;
  --first-color: #f85959;
  --body-color: #fff8ee;
  --second-color: #fed8d0;
  --text-color: #912727;

  --body-font: "Hubballi", cursive;

  --biggest-font-size: 2rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-semi-bold: 600;

  /* ===== Margines ===== */
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;

  --z-fixed: 100;
}

@media screen and(min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* ===== BASE ===== */
*,
::before,
::after {
  padding: 0;
  margin: 0;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

/* ===== LAYOUT ===== */
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}
